@import "../../styles/variable";

.user--profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 4rem;
  width: 100%;

  h1 {
    font-size: 4rem;
    font-weight: 600;
    color: $text-color;
    margin-bottom: 3rem;
  }

  .updateForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 40%;
    .user-profile__avatar {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.6);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    input {
      width: 100%;
      padding: 1.2rem 1rem;
      border: 0.2rem solid $border-color;
      border-radius: 1rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: $text-color;

      &:focus {
        outline: none;
        border: 2px solid $secondary-color;
      }
    }

    button {
      @extend input;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;

      &:disabled {
        background-color: lightgrey;
        pointer-events: none;
      }

      &:hover {
        background: $secondary-color;
        border-color: $secondary-color;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .user--profile {
    .updateForm {
      width: 60%;
    }
  }
}

@media screen and (max-width: 380px) {
  .user--profile {
    .updateForm {
      width: 90%;
    }
  }
}
